*.a
*.d
*.o
*.patch
*.pyc
*.pyo
*.so
*.swp
*~
/CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
apps/dsm/lib/Makefile
apps/early_dbprompt/Makefile
apps/mobile_push/Makefile
apps/py_sems/sip/*.cpp
apps/py_sems/sip/*.h
apps/py_sems/sip/Makefile.gen
apps/rtmp/flash_phone/*.swf
apps/xmlrpc2di/xmlrpc++/src/Makefile
build/
cmake_install.cmake
core.*
core/etc/*.conf
core/etc/*.template
core/plug-in/silk/SILK_SDK_*
cscope.files
cscope.out
getarch
getos
semantic.cache
sems
sems_tests
sems-logfile-callextract
sems-stats
