*.a
*.d
*.o
*.patch
*.pyc
*.pyo
*.so
*~
*.swp
build/
/CMakeCache.txt
CMakeFiles/
apps/py_sems/sip/*.cpp
apps/py_sems/sip/*.h
apps/py_sems/sip/Makefile.gen
apps/rtmp/flash_phone/*.swf
cmake_install.cmake
core.*
core/etc/*.conf
core/etc/*.template
core/plug-in/silk/SILK_SDK_*
cscope.files
cscope.out
getarch
getos
semantic.cache
sems
sems-logfile-callextract
sems-stats
