*.a
*.d
*.o
*.pyc
*.pyo
*.so
*~
apps/py_sems/sip/*.cpp
apps/py_sems/sip/*.h
apps/py_sems/sip/Makefile.gen
core/etc/*.conf
core/etc/*.template
getarch
getos
sems
sems-stats
sems-logfile-callextract

cscope.out
cscope.files
semantic.cache
apps/rtmp/flash_phone/*.swf
core/plug-in/silk/SILK_SDK_*