# $Id$
#
# sems.conf.sample
#
# Sip Express Media Server (sems)
# 
# sample configuration file
# 
#
# whitespaces (spaces and tabs) are ignored
# comments start with a "#" and may be used inline
# 
# example: option=value # i like this option
#

plugin_config_path=/usr/local/etc/sems/etc/

# optional parameter: fork={yes|no}
# 
# - specifies if sems should run in daemon mode (background)
#   (fork=no is the same as -E)
fork=no

# optional parameter: stderr={yes|no}
#
# - debug mode: do not fork and log to stderr
#   (stderr=yes is the same as -E)
stderr=yes

# optional parameter: loglevel={0|1|2|3}
#
# - sets log level (error=0, warning=1, info=2, debug=3)
#   (same as -D)
loglevel=3

# optional parameter: socket_name=<filename>
#
# - path and file name of our unix socket
socket_name=/tmp/sems_sock

reply_socket_name=/tmp/sems_rsp_sock

# optional parameter: ser_socket_name=<filename>
#
# - path and file name of Ser's unix socket
ser_socket_name=/tmp/ser_sock

# optional parameter: plugin_path=<path>
# 
# - sets the path to the plug-ins
# - may be absolute or relative to CWD
plugin_path=/usr/local/lib/sems/plug-in

# optional parameter: load_plugins=<modules list>
# 
# semicolon-separated list of modules to load
# If empty, all modules in plugin_path are loaded.
#
# example for announcement with g711 and ilbc codecs only 
# load_plugins=wav;ilbc;announcement

# optional parameter: smtp_server=<hostname>
#
# - sets address of smtp server
smtp_server=mail

# optional parameter: smtp_port=<port>
#
# - sets port of smtp server
smtp_port=25

# optional parameter: rtp_low_port=<port>
#
# - sets port of rtp lowest server
rtp_low_port=10000

# optional parameter: rtp_high_port=<port>
#
# - sets port of rtp highest server
rtp_high_port=60000

# optional parameter: media_processor_threads=<num_value>
# 
# - controls how many threads should be created that
#   process media - on single-processor systems set this 
#   parameter to 1 (default), on MP systems to a higher
#   value
media_processor_threads=1

# optional parameter: listen=<ip_address>
# 
# - this informs SEMS about the interface where its SER is 
#   bound to. SEMS needs this information to correctly set 
#   the contact header in outgoing calls and registrations. 
#   Should be set to equal the 'listen' configuration option
#   in ser_sems.cfg.
#   This does not need to be set if outgoing calls and 
#   registrations from SEMS are not used.
#   If not set, this defaults to the interface SEMS binds to.
#
# listen=10.0.0.34

# optional parameter: sip_port=<port_number>
#
# - this informs SEMS about the port where its SER is 
#   bound to. SEMS needs this information to correctly set 
#   the contact header in outgoing calls and registrations. 
#   Should be set to equal the 'port' configuration option
#   in ser_sems.cfg.
#   This does not need to be set if outgoing calls and 
#   registrations from SEMS are not used.
#  
#   default: 5060
#
#sip_port=5060

# optional parameter: use_default_signature={yes|no}
#
# - use a Server/User-Agent header with the SEMS server 
#   signature and version.
#   Set server_signature=0 in ser_sems.cfg if you use it.   
#
#   default=no
#
# use_default_signature=no

# optional parameter: signature=<signature string>
#
# - use a Server/User-Agent header with a custom user agent
#   signature.
#   Overridden by default signature if 
#   use_default_signature is set.
#   Set server_signature=0 in ser_sems.cfg if you use it.   
#
#
# signature="SEMS media server 1.0"
