#!/bin/sh -e

. /usr/share/debconf/confmodule

# configure ?
db_input medium sems/config || true
db_go

db_get sems/config

if [ "$RET" = "false" ]; then
  exit 0
fi

db_input medium sems/USER || true
db_go

db_input medium sems/GROUP || true
db_go

#db_input medium sems/WORKDIR || true
#db_go

db_input medium sems/KERNEL_CORE_PID || true
db_go

db_input medium sems/MEMORY || true
db_go

