#!/bin/sh -e

. /usr/share/debconf/confmodule

# configure ?
db_input medium sems/config || true
db_go

db_get sems/config

if [ "$RET" = "false" ]; then
  exit 0
fi

db_input medium sems/USER || true
db_go

db_input medium sems/GROUP || true
db_go

db_input medium sems/CREATE_CORE || true
db_go

db_input medium sems/COREDIR || true
db_go

