[Unit]
Description=SIP Media Server
After=network.target

[Service]
Type=simple
User=sems
Group=sems
EnvironmentFile=-/etc/default/sems
LimitCORE=infinity
LimitNOFILE=100000
Restart=on-failure
StartLimitInterval=10
StartLimitBurst=5
ExecStart=/usr/sbin/sems -E $OPTIONS

[Install]
WantedBy=multi-user.target
